<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.ma260.truitt"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>The National Zoo</name>

    <description>
        Created by Michael Truitt for MA-260. 
    </description>

    <author href="#" email="support@phonegap.com">
        Sarah North 
    </author>
    <preference name="exit-on-suspend" value="true" />
    <icon src="icon.png" />
    <gap:splash src="splash.png" />



</widget>
